.home-banner-area{
    background-image: url('./../Assets/images/home-banner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 170px 0 130px;
    color: #fff;
}
